In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dirtydata.csv")

In [3]:
print(df)

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110       130     409.1
1         60  2020/12/02'    117       145     479.0
2         60  2020/12/03'    103       135     340.0
3         45  2020/12/04'    109       175     282.4
4         45  2020/12/05'    117       148     406.0
5         60  2020/12/06'    102       127    -300.0
6         60  2020/12/07'    110       136     374.0
7        450  2020/12/08'    104       134     253.3
8         30  2020/12/09'    109       133     195.1
9         60  2020/12/10'     98       124     269.0
10        60  2020/12/11'    103       147     329.3
11        60  2020/12/12'    100       120     250.7
12        60  2020/12/12'    100       120     250.7
13        60  2020/12/13'    106       128     345.3
14        60  2020/12/14'    104       132     379.3
15        60  2020/12/15'     98       123     275.0
16        60  2020/12/16'     98       120     215.2
17        60  2020/12/17'    100       120     300.0
18        45  2020/12/18'     90       112       NaN
19        60  2020/12/19'    103       123     323.0
20        45  2020/12/20'     97       125     243.0
21        60  2020/12/21'    108       131     364.2
22        45          NaN    100       119     282.0
23        60  2020/12/23'    130       101     300.0
24        45  2020/12/24'    105       132     246.0
25        60  2020/12/25'    102       126     334.5
26        60     20201226    100       120     250.0
27        60  2020/12/27'     92       118     241.0
28        60  2020/12/28'    103       132       NaN
29        60  2020/12/29'    100       132    -280.0
30        60  2020/12/30'    102       129     380.3
31        60  2020/12/31'     92       115     243.0

In [4]:
df.isnull()

    Duration   Date  Pulse  Maxpulse  Calories
0      False  False  False     False     False
1      False  False  False     False     False
2      False  False  False     False     False
3      False  False  False     False     False
4      False  False  False     False     False
5      False  False  False     False     False
6      False  False  False     False     False
7      False  False  False     False     False
8      False  False  False     False     False
9      False  False  False     False     False
10     False  False  False     False     False
11     False  False  False     False     False
12     False  False  False     False     False
13     False  False  False     False     False
14     False  False  False     False     False
15     False  False  False     False     False
16     False  False  False     False     False
17     False  False  False     False     False
18     False  False  False     False      True
19     False  False  False     False     False
20     False  False  False     False     False
21     False  False  False     False     False
22     False   True  False     False     False
23     False  False  False     False     False
24     False  False  False     False     False
25     False  False  False     False     False
26     False  False  False     False     False
27     False  False  False     False     False
28     False  False  False     False      True
29     False  False  False     False     False
30     False  False  False     False     False
31     False  False  False     False     False

In [5]:
df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [6]:
print(df['Calories'])

0     409.1
1     479.0
2     340.0
3     282.4
4     406.0
5    -300.0
6     374.0
7     253.3
8     195.1
9     269.0
10    329.3
11    250.7
12    250.7
13    345.3
14    379.3
15    275.0
16    215.2
17    300.0
18      NaN
19    323.0
20    243.0
21    364.2
22    282.0
23    300.0
24    246.0
25    334.5
26    250.0
27    241.0
28      NaN
29   -280.0
30    380.3
31    243.0
Name: Calories, dtype: float64

In [7]:
df['Calories'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 32 entries, 0 to 31
Series name: Calories
Non-Null Count  Dtype
--------------  -----
30 non-null     float64
dtypes: float64(1)
memory usage: 384.0 bytes

In [8]:
x= df['Calories'].mean()

In [9]:
df["Calories"].fillna(x , inplace = True)

In [10]:
df

    Duration         Date  Pulse  Maxpulse    Calories
0         60  2020/12/01'    110       130  409.100000
1         60  2020/12/02'    117       145  479.000000
2         60  2020/12/03'    103       135  340.000000
3         45  2020/12/04'    109       175  282.400000
4         45  2020/12/05'    117       148  406.000000
5         60  2020/12/06'    102       127 -300.000000
6         60  2020/12/07'    110       136  374.000000
7        450  2020/12/08'    104       134  253.300000
8         30  2020/12/09'    109       133  195.100000
9         60  2020/12/10'     98       124  269.000000
10        60  2020/12/11'    103       147  329.300000
11        60  2020/12/12'    100       120  250.700000
12        60  2020/12/12'    100       120  250.700000
13        60  2020/12/13'    106       128  345.300000
14        60  2020/12/14'    104       132  379.300000
15        60  2020/12/15'     98       123  275.000000
16        60  2020/12/16'     98       120  215.200000
17        60  2020/12/17'    100       120  300.000000
18        45  2020/12/18'     90       112  266.013333
19        60  2020/12/19'    103       123  323.000000
20        45  2020/12/20'     97       125  243.000000
21        60  2020/12/21'    108       131  364.200000
22        45          NaN    100       119  282.000000
23        60  2020/12/23'    130       101  300.000000
24        45  2020/12/24'    105       132  246.000000
25        60  2020/12/25'    102       126  334.500000
26        60     20201226    100       120  250.000000
27        60  2020/12/27'     92       118  241.000000
28        60  2020/12/28'    103       132  266.013333
29        60  2020/12/29'    100       132 -280.000000
30        60  2020/12/30'    102       129  380.300000
31        60  2020/12/31'     92       115  243.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  32 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [12]:
df.dropna(inplace = True)

In [13]:
print(df)

    Duration         Date  Pulse  Maxpulse    Calories
0         60  2020/12/01'    110       130  409.100000
1         60  2020/12/02'    117       145  479.000000
2         60  2020/12/03'    103       135  340.000000
3         45  2020/12/04'    109       175  282.400000
4         45  2020/12/05'    117       148  406.000000
5         60  2020/12/06'    102       127 -300.000000
6         60  2020/12/07'    110       136  374.000000
7        450  2020/12/08'    104       134  253.300000
8         30  2020/12/09'    109       133  195.100000
9         60  2020/12/10'     98       124  269.000000
10        60  2020/12/11'    103       147  329.300000
11        60  2020/12/12'    100       120  250.700000
12        60  2020/12/12'    100       120  250.700000
13        60  2020/12/13'    106       128  345.300000
14        60  2020/12/14'    104       132  379.300000
15        60  2020/12/15'     98       123  275.000000
16        60  2020/12/16'     98       120  215.200000
17        60  2020/12/17'    100       120  300.000000
18        45  2020/12/18'     90       112  266.013333
19        60  2020/12/19'    103       123  323.000000
20        45  2020/12/20'     97       125  243.000000
21        60  2020/12/21'    108       131  364.200000
23        60  2020/12/23'    130       101  300.000000
24        45  2020/12/24'    105       132  246.000000
25        60  2020/12/25'    102       126  334.500000
26        60     20201226    100       120  250.000000
27        60  2020/12/27'     92       118  241.000000
28        60  2020/12/28'    103       132  266.013333
29        60  2020/12/29'    100       132 -280.000000
30        60  2020/12/30'    102       129  380.300000
31        60  2020/12/31'     92       115  243.000000

In [30]:

df['Date'] = pd.to_datetime(df['Date'])

KeyError: 'Date'

In [27]:
print(df["Date"],df['Calories'].info())

KeyError: 'Date'

In [23]:
df['Calories'] = df['Calories'].abs()

In [24]:
print(df['Calories'])

0     409.100000
1     479.000000
2     340.000000
3     282.400000
4     406.000000
5     300.000000
6     374.000000
7     253.300000
8     195.100000
9     269.000000
10    329.300000
11    250.700000
12    250.700000
13    345.300000
14    379.300000
15    275.000000
16    215.200000
17    300.000000
18    266.013333
19    323.000000
20    243.000000
21    364.200000
23    300.000000
24    246.000000
25    334.500000
26    250.000000
27    241.000000
28    266.013333
29    280.000000
30    380.300000
31    243.000000
Name: Calories, dtype: float64

In [25]:
print(df)

      Calories
0   409.100000
1   479.000000
2   340.000000
3   282.400000
4   406.000000
5   300.000000
6   374.000000
7   253.300000
8   195.100000
9   269.000000
10  329.300000
11  250.700000
12  250.700000
13  345.300000
14  379.300000
15  275.000000
16  215.200000
17  300.000000
18  266.013333
19  323.000000
20  243.000000
21  364.200000
23  300.000000
24  246.000000
25  334.500000
26  250.000000
27  241.000000
28  266.013333
29  280.000000
30  380.300000
31  243.000000

In [16]:
df = pd.DataFrame(df['Calories'],df["Calories"].info())

<class 'pandas.core.series.Series'>
Index: 31 entries, 0 to 31
Series name: Calories
Non-Null Count  Dtype
--------------  -----
31 non-null     float64
dtypes: float64(1)
memory usage: 496.0 bytes

In [17]:
df.dtypes

Calories    float64
dtype: object

In [18]:
print(df)

      Calories
0   409.100000
1   479.000000
2   340.000000
3   282.400000
4   406.000000
5  -300.000000
6   374.000000
7   253.300000
8   195.100000
9   269.000000
10  329.300000
11  250.700000
12  250.700000
13  345.300000
14  379.300000
15  275.000000
16  215.200000
17  300.000000
18  266.013333
19  323.000000
20  243.000000
21  364.200000
23  300.000000
24  246.000000
25  334.500000
26  250.000000
27  241.000000
28  266.013333
29 -280.000000
30  380.300000
31  243.000000

In [19]:
df.describe()

         Calories
count   31.000000
mean   265.497634
std    162.078059
min   -300.000000
25%    248.000000
50%    275.000000
75%    342.650000
max    479.000000